#calendar {
  --muted-border: 1px solid var(--color-border-muted);
}

#calendar h2 {
  margin-top: 16px;
}

/* Header+controls */

#calendar .month-label {
  border-bottom: none;
  line-height: 1.5;
  margin-bottom: 0;
}

#calendar-controls {
  float: right;
}

#calendar-controls button {
  font-size: 1.5rem;
  min-width: 1.5em;
}

#calendar .day-labels {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

#calendar .day-label {
  color: var(--color-border-muted);
  text-align: center;
}

/* Week grids */

#calendar .week {
  aspect-ratio: 7 / 1;
  border: var(--muted-border);
  border-bottom: none;
  border-left: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-flow: dense;
  grid-auto-rows: min-content;
  grid-gap: 1px;
  position: relative;
}

#calendar .week:last-child {
  border-bottom: var(--muted-border);
}

#calendar .day-cell,
#calendar .event {
  grid-column-start: var(--start);
  grid-column-end: var(--end);
}

/* Day grid cells */

#calendar .day-cell {
  border-left: var(--muted-border);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#calendar .day-cell.is-today {
  background-color: var(--color-attention-subtle);
}

/* Day numbers */

#calendar .day-number {
  grid-row-start: 1;
  margin-right: 0.25em;
  text-align: right;

  pointer-events: none;
  user-select: none;
}

#calendar .day-number.outside-month {
  color: var(--color-border-muted);
}

/* Event block+modal container */

#calendar .event-container {
  display: contents;
  --color: var(--color-fg-default);
  --bg-color: var(--color-canvas-muted);
}

/* Event blocks */

#calendar .event {
  color: var(--color);
  background-color: var(--bg-color);

  margin: 2px 0 2px 1px;
  padding: 2px;

  cursor: pointer;
  user-select: none;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#calendar .event:hover {
  text-decoration: none;
}

#calendar .event.starts-this-week {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-left: 4px;
}

#calendar .event.ends-this-week {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-right: 2px;
}

/* Event detail modals */

#calendar dialog {
  box-sizing: border-box;
  border: none;
  border-radius: 16px;
  box-shadow: var(--color-dialog-shadow) 0px 0px 15px;
  left: var(--body-padding);
  right: var(--body-padding);
  min-width: var(--body-min-width);
  max-width: calc(var(--body-max-width) - (var(--body-padding) * 2));
  white-space: normal;
}

#calendar dialog::backdrop {
  background: var(--color-dialog-backdrop);
}

#calendar dialog form {
  float: right;
  position: sticky;
  top: 0;
}

#calendar dialog button {
  font-size: 1.5rem;
  min-width: 1.5em;
}

#calendar dialog h2 {
  border-bottom: 4px solid var(--bg-color);
}

#calendar dialog .event-alert {
  color: var(--color-fg-subtle);
  font-size: 80%;
}
