.markdown-body {
  box-sizing: border-box;
  min-width: var(--body-min-width);
  max-width: var(--body-max-width);
  margin: 0 auto;
  padding: var(--body-padding);
}

.markdown-body h1 {
  border-bottom: none;
  margin-bottom: 0;
}

.markdown-body h2 {
  margin-top: 72px;
}

.markdown-body h1,
.screenshot,
.subtitle {
  text-align: center;
}
