/* Values from https://github.com/sindresorhus/github-markdown-css#usage */

:root {
  --body-min-width: 200px;
  --body-max-width: 980px;
  --body-padding: 45px;
}

@media (max-width: 767px) {
  :root {
    --body-padding: 15px;
  }
}

/*
See color variable definitions in `github-markdown-css`:
https://github.com/sindresorhus/github-markdown-css/blob/main/github-markdown.css
*/

@media (prefers-color-scheme: dark) {
  :root {
    --bgColor-event: #2c2f34;
  }

  ::backdrop {
    --bgColor-backdrop: #fff3;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bgColor-event: #c5c8cd;
  }

  ::backdrop {
    --bgColor-backdrop: #0004;
  }
}
