<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>TCal – MBTA Disruption Calendar</title>
  <meta name="description" content="iCal feed of planned service disruptions on MBTA rapid transit.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown.min.css"
    integrity="sha512-KUoB3bZ1XRBYj1QcH4BHCQjurAZnCO3WdrswyLDtp7BMwCw7dPZngSLqILf68SGgvnWHTD5pPaYrXi6wiRJ65g=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="/variables.css" />
  <link rel="stylesheet" href="/content.css" />
  <link rel="stylesheet" href="/calendar.css" />

  <script defer
    src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.10.5/cdn.min.js"
    integrity="sha512-y22y4rJ9d7NGoRLII5LVwUv0BfQKf6MpATy5ebVu/fbHdtJCxBpZRHZMHJv8VYl8scWjuwZcMPzwYk4sEoyL4A=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer">
  </script>
</head>

<body class="markdown-body">
  <h1>TCal</h1>

  <p class="subtitle">
    An iCal feed of planned service disruptions on MBTA rapid transit.
  </p>

  <%= @calendar %>

  <%= @content %>
</body>

</html>
