<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>TCal – MBTA Disruption Calendar</title>
  <meta name="description" content="Calendar of planned service disruptions on MBTA rapid transit.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.9.0/github-markdown.min.css"
    integrity="sha512-Ouq1+UcR9ENXndFyd/YA9i+ETLJmX3WoaMBF/nDzdqJbipKGL/SAbkO+qjDoxfD/dhZs4ZqgR9vXkolrK77xmQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer">

  <link rel="stylesheet" href="/variables.css">
  <link rel="stylesheet" href="/content.css">
  <link rel="stylesheet" href="/calendar.css">

  <script defer
    src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.17.4/cdn.min.js"
    integrity="sha512-0uiINGF9MyHX98bXW20KT16/3dWnjrR2fekh9iKYcNpuAXlgAIPoIB2t7HG4yUlukHX+oqd6mewlV65FzdqU9w=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer">
  </script>
</head>

<body class="markdown-body">
  <h1>TCal</h1>

  <p class="subtitle">
    A calendar of planned service disruptions on MBTA rapid transit.
  </p>

  <%= @calendar %>

  <%= @content %>
</body>

</html>
