<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>TCal – MBTA Disruption Calendar</title>
  <meta name="description" content="Calendar of planned service disruptions on MBTA rapid transit.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.8.1/github-markdown.min.css"
    integrity="sha512-BrOPA520KmDMqieeM7XFe6a3u3Sb3F1JBaQnrIAmWg3EYrciJ+Qqe6ZcKCdfPv26rGcgTrJnZ/IdQEct8h3Zhw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="/variables.css" />
  <link rel="stylesheet" href="/content.css" />
  <link rel="stylesheet" href="/calendar.css" />

  <script defer
    src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.14.8/cdn.min.js"
    integrity="sha512-S0FmGVNvhIGBTFW8xl2Sb9VjaTqStfWO1KHQjaxvTESAOe0RlL7jITJQVmA5V1bu88Y9VgDoW7jqsQCYVRLx1Q=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer">
  </script>
</head>

<body class="markdown-body">
  <h1>TCal</h1>

  <p class="subtitle">
    A calendar of planned service disruptions on MBTA rapid transit.
  </p>

  <%= @calendar %>

  <%= @content %>
</body>

</html>
